* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-dark-gray {
  color: darkgray;
}

.bottom-bar {
  border-bottom: 5px solid #0D6EFD;
  padding-bottom: 60px;
}

.icon-main {
  width: 20%;
}

.icon-main-big {
  width: 15%;
}